* {
  color: white;
}
.Explosion {
}
.BuyContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100vw;
  margin: 30px 0;
  flex-wrap: wrap;
}
.BuyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  min-width: 280px;
  /* max-width: 240px; */
  height: 90%;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  background: rgba(26, 121, 179, 0.45);
  transition: all 0.3s ease-in-out;
}
.BuyItem:hover {
  transform: scale(1.03);
}
.Subscribe {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  font-weight: 900;
}
@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
#GreenSubscribe {
  background-color: rgba(0, 128, 0, 0.795);
  transition: all 0.3s ease-in-out;
}
#RedSubscribe {
  background-color: rgba(255, 0, 0, 0.747);
  transition: all 0.3s ease-in-out;
}
#OrangeSubscribe {
  background-color: rgb(199, 130, 3);
  transition: all 0.3s ease-in-out;
}
#GreenSubscribe:hover,
#RedSubscribe:hover,
#OrangeSubscribe:hover {
  background-color: rgb(0, 255, 21);
  color: black;
}
#RedPrice {
  color: rgb(99, 255, 94);
}
#Closed {
  color: rgb(253, 74, 74);
}
#headerText {
  color: rgb(213, 249, 255);
  /* background-color: red; */
}
.Arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.Arrow:hover {
  color: aqua;
}
#h2 {
  font-size: 50px;
  display: flex;
  color: rgb(202, 202, 202);
}

ul {
  list-style: none;
  text-align: center;
}
ul li {
  font-size: 20px;
  margin: 10px 0;
}
